@reference "tailwindcss";

:root{
    --gray-50: oklch(98.5% 0.002 247.839);
    --blue: #287bff;
}

.sideElement {
    @apply p-3 relative cursor-pointer text-white w-full font-medium transition-all duration-300 ease-in-out;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.sideElement:hover {
    @apply bg-gray-50;
    color: var(--blue);
}

.sideElement::before,
.sideElement::after {
    content: "";
    @apply absolute right-0 w-12 h-12 z-10 bg-transparent rounded-full opacity-0 transition-opacity duration-300 ease-in-out pointer-events-none;
}

.sideElement::before {
    @apply -top-12;
    box-shadow: 35px 35px 0 10px var(--gray-50);
}

.sideElement::after {
    @apply -bottom-12;
    box-shadow: 35px -35px 0 10px var(--gray-50);
}

.sideElement:hover::before,
.active::before,
.sideElement:hover::after,
.active::after {
    @apply opacity-100;
}

.active {
    @apply font-semibold bg-gray-50 ;
    color: var(--blue);
}

.active-hover {
    background-color: var(--blue);
    color: white ;
    transition: all 0.3s ease-in-out;
}


