@reference "tailwindcss";

:root{
    --blue: #287bff;
}

.PanelBox{
    @apply flex items-center justify-center gap-4 p-4 w-48 h-24 rounded-xl bg-white shadow-lg cursor-default transition-all ease-in-out delay-10 duration-300;
    color: #a5f9b491;
}

.PanelBox:hover {
    background-color: var(--blue);
}

.PanelBox:hover *{
    color: white;
}

.addBtn{
    background-color: var(--blue);
    @apply w-56 cursor-pointer;
}
.addBtn:hover{
    background-color: white;
}
.addBtn *{
    color: white;
}

.addBtn:hover *{
    color: var(--blue);
}